[submodule "repozitoriji/alenFMF"]
	path = repozitoriji/alenFMF
	url = https://github.com/alenFMF/ROM18-19-Vaje.git
[submodule "repozitoriji/lapajnea"]
	path = repozitoriji/lapajnea
	url = https://github.com/lapajnea/ROM.git
[submodule "repozitoriji/PeterFMF"]
	path = repozitoriji/PeterFMF
	url = https://github.com/PeterFMF/ROM.git
[submodule "repozitoriji/leon997"]
	path = repozitoriji/leon997
	url = https://github.com/leon997/ROM.git
[submodule "repozitoriji/KlaraKosec"]
	path = repozitoriji/KlaraKosec
	url = https://github.com/KlaraKosec/hzt.git
[submodule "repozitoriji/TPogacar"]
	path = repozitoriji/TPogacar
	url = https://github.com/TPogacar/ROM.git
[submodule "repozitoriji/ZacetekVaj"]
	path = repozitoriji/ZacetekVaj
	url = https://github.com/ZacetekVaj/ROM.git
[submodule "repozitoriji/KonecVaj"]
	path = repozitoriji/KonecVaj
	url = https://github.com/KonecVaj/ROM.git
[submodule "repozitoriji/SmokeyAjax"]
	path = repozitoriji/SmokeyAjax
	url = https://github.com/SmokeyAjax/ROM.git
[submodule "repozitoriji/Argonfmf"]
	path = repozitoriji/Argonfmf
	url = https://github.com/Argonfmf/ROM.git
[submodule "repozitoriji/Errick0"]
	path = repozitoriji/Errick0
	url = https://github.com/Errick0/ROM.git
[submodule "repozitoriji/Peterkac"]
	path = repozitoriji/Peterkac
	url = https://github.com/Peterkac/ROM.git
[submodule "repozitoriji/BacekJon"]
	path = repozitoriji/BacekJon
	url = https://github.com/BacekJon/ROM.git
[submodule "repozitoriji/15minutOdmora"]
	path = repozitoriji/15minutOdmora
	url = https://github.com/15minutOdmora/ROM.git
[submodule "repozitoriji/KlemenSkukan"]
	path = repozitoriji/KlemenSkukan
	url = https://github.com/KlemenSkukan/ROM.git
[submodule "repozitoriji/denis123FMF"]
	path = repozitoriji/denis123FMF
	url = https://github.com/denis123FMF/ROM.git
[submodule "repozitoriji/CebuljDomen"]
	path = repozitoriji/CebuljDomen
	url = https://github.com/CebuljDomen/ROM.git
[submodule "repozitoriji/DenisBencic"]
	path = repozitoriji/DenisBencic
	url = https://github.com/DenisBencic/ROM2.git
[submodule "repozitoriji/CusinM15"]
	path = repozitoriji/CusinM15
	url = https://github.com/CusinM15/ROM1.git
[submodule "repozitoriji/TeaKn"]
	path = repozitoriji/TeaKn
	url = https://github.com/TeaKn/ROM2.git
[submodule "repozitoriji/spelaster"]
	path = repozitoriji/spelaster
	url = https://github.com/spelaster/ROM.git
[submodule "repozitoriji/ursagabrovec"]
	path = repozitoriji/ursagabrovec
	url = https://github.com/ursagabrovec/ROM1.git
[submodule "repozitoriji/jemecema"]
	path = repozitoriji/jemecema
	url = https://github.com/jemecema/ROM.git
[submodule "repozitoriji/piploli"]
	path = repozitoriji/piploli
	url = https://github.com/piploli/ROM2.git
[submodule "repozitoriji/petra1111"]
	path = repozitoriji/petra1111
	url = https://github.com/petra1111/ROM.git
[submodule "repozitoriji/gorlar"]
	path = repozitoriji/gorlar
	url = https://github.com/gorlar/ROM.git
[submodule "repozitoriji/urskabaskovic"]
	path = repozitoriji/urskabaskovic
	url = https://github.com/urskabaskovic/ROM.git
[submodule "repozitoriji/mitjamori"]
	path = repozitoriji/mitjamori
	url = https://github.com/mitjamori/ROM.git
[submodule "repozitoriji/domjanic77"]
	path = repozitoriji/domjanic77
	url = https://github.com/domjanic77/ROM.git
[submodule "repozitoriji/AliGremLahkoNaWC"]
	path = repozitoriji/AliGremLahkoNaWC
	url = https://github.com/AliGremLahkoNaWC/ROM.git
[submodule "repozitoriji/PeterStatevskiTheStarBoy"]
	path = repozitoriji/PeterStatevskiTheStarBoy
	url = https://github.com/PeterStatevskiTheStarBoy/ROM.git
[submodule "repozitoriji/micanedovic95"]
	path = repozitoriji/micanedovic95
	url = https://github.com/micanedovic95/ROM5.git
[submodule "repozitoriji/JensterleI"]
	path = repozitoriji/JensterleI
	url = https://github.com/JensterleI/ROM.git
[submodule "repozitoriji/Monikaaaaaaaaaa"]
	path = repozitoriji/Monikaaaaaaaaaa
	url = https://github.com/Monikaaaaaaaaaa/ROM.git
[submodule "repozitoriji/magicdadi"]
	path = repozitoriji/magicdadi
	url = https://github.com/magicdadi/ROM.git
[submodule "repozitoriji/DjansS"]
	path = repozitoriji/DjansS
	url = https://github.com/DjansS/ROM18-19-Vaje.git
